### 리스트 (배열)

In [1]:
fruits = ['apple', 'cherry', 'orange', 'durian']
animals = []
anything = [2024, 12, 19, 'python', ['number', 'string', 'boolean'], True]

In [3]:
rainbow_str = 'red-orange-yellow-green-blue-navy-purple'
rainbow = rainbow_str.split('-')

print(rainbow)

['red', 'orange', 'yellow', 'green', 'blue', 'navy', 'purple']

---
### 리스트의 연산

In [4]:
added_list = fruits + anything

In [5]:
print(added_list)

['apple', 'cherry', 'orange', 'durian', 2024, 12, 19, 'python', ['number', 'string', 'boolean'], True]

In [6]:
multiple_list = fruits * 3
print(multiple_list)

['apple', 'cherry', 'orange', 'durian', 'apple', 'cherry', 'orange', 'durian', 'apple', 'cherry', 'orange', 'durian']

---
### 리스트의 매서드

In [7]:
num_list = [2024, 12, 19, 16, 9]

In [32]:
num_list.append(4) # append(?) 요소 추가
num_list

[2024, 12, 19, 16, 9, 4]

In [33]:
num_list.insert(0,777) #인덱스 값에 요소 추가
num_list

[777, 2024, 12, 19, 16, 9, 4]

In [34]:
num_list.remove(777)
num_list

[2024, 12, 19, 16, 9, 4]

In [ ]:
num_list.remove(4) # 요소 삭제

In [36]:
num_list

[2024, 12, 19, 16, 9]

In [41]:
num_list.sort(reverse = True) # 리스트 정렬, reverse = True 역순 정렬
num_list

[2024, 19, 16, 12, 9]

In [45]:
# 참고 (sorted) 정렬 대상이 되는 배열을 집어넣는 함수
# 원래 배열을 바꾸진 않음. 정렬 배열을 반환함

sorted(fruits)

sorted_fruits = sorted(fruits)
sorted_fruits

['apple', 'cherry', 'durian', 'orange']

---
###  ☆ 인덱스, 인덱싱과 슬라이싱

In [47]:
#anything = [2024, 12, 19, 'python', ['number', 'string', 'boolean'], True]



first_ele = anything[1]
forth_ele = anything[4]

print(first_ele)
print(forth_ele)

12
['number', 'string', 'boolean']

In [48]:
print(anything[-1])

True

In [49]:
anything[-1] = False # 리스트의 요소를 수정하려면 인덱스를 쓴다. 
anything

[2024, 12, 19, 'python', ['number', 'string', 'boolean'], False]

In [54]:
# 슬라이싱은 구간으로 자른다. [a:b] = a이상 b 미만
# 연속된 요소만 가져올 수 있음
# 슬라이싱 방향은 항상 왼쪽에서 -> 오른쪽으로 

today = anything[0:2]

In [51]:
today

[2024, 12]

In [55]:
today = anything[0:3]

In [56]:
today

[2024, 12, 19]

In [58]:
strs = anything[-3:-1]

In [59]:
strs

['python', ['number', 'string', 'boolean']]

In [60]:
strs = anything[:-1]

In [61]:
strs

[2024, 12, 19, 'python', ['number', 'string', 'boolean']]

In [64]:
strs = anything[-3:]
strs

['python', ['number', 'string', 'boolean'], False]

In [65]:
strs = anything[:]

In [66]:
strs

[2024, 12, 19, 'python', ['number', 'string', 'boolean'], False]

---
### 실습

### **문제 1**

아래 조건에 맞게 리스트를 선언하고 결과를 출력하세요.

1. `fruits`라는 리스트에 다음 요소를 저장하세요.
    - `'apple', 'banana', 'cherry'`.
2. `print()`를 사용해 `fruits`의 첫 번째 요소와 세 번째 요소를 출력하세요.

In [67]:
fruits = ['apple', 'banana', 'cherry']
print(fruits[0],fruits[2])

apple cherry

### **문제 2**

다음 조건을 만족하는 리스트를 만드세요.

1. `numbers`라는 리스트를 선언하고 숫자 `1`부터 `5`까지 저장하세요.
2. 이 리스트의 **길이**를 출력하세요.

In [68]:
numbers = [1, 2, 3, 4, 5]
print(len(numbers))

5

### **문제 3**

다음 조건에 맞게 리스트를 조작하세요.

1. `animals` 리스트에 `'cat', 'dog', 'bird'`를 저장하세요.
2. 이 리스트의 마지막에 `'fish'`를 추가하고, 리스트를 출력하세요.

In [93]:
animals = ['cat', 'dog', 'bird']
animals.append('fish')
print(animals)

['cat', 'dog', 'bird', 'fish']

### **문제 4**

아래 조건에 맞는 프로그램을 작성하세요.

1. `numbers` 리스트에 숫자 `3, 6, 9`를 저장하세요.
2. 리스트의 첫 번째 요소를 **2배**로 만들어 다시 저장하고, 리스트를 출력하세요.

In [77]:
numbers = [3, 6, 9]
numbers.insert(0, numbers[0]*2)
numbers.remove(3)
numbers

[6, 6, 9]

In [92]:
numbers = [3, 6, 9]
numbers.insert(1, numbers[0]*2)
numbers.remove(3)
print(numbers)

[6, 6, 9]

In [95]:
numbers = [3, 6, 9]
temp = numbers[0] * 2
numbers[0] = temp
print(numbers)

[6, 6, 9]

### **문제 5**

아래 문자열을 리스트로 변환하고 결과를 출력하세요.

1. 문자열 `'Python-is-fun'`을 `'-'`를 기준으로 분리하여 리스트로 만드세요.
2. 결과 리스트를 출력하세요.

In [80]:
list_sp= ('python-is-fun')
list = list_sp.split('-')

In [81]:
list

['python', 'is', 'fun']

In [97]:
my_str = 'python-is-fusn'
my_list = my_str.split('-')
print(my_list)

['python', 'is', 'fusn']

### **문제 7**

아래 조건에 맞게 리스트의 요소를 수정하세요.

1. `colors` 리스트에 `'red', 'blue', 'green'`을 저장하세요.
2. `'blue'`를 `'yellow'`로 변경하고 리스트를 출력하세요.

In [83]:
colors =['red', 'blue', 'green']

colors.insert(1,'yellow')
colors.remove("blue")

In [84]:
colors

['red', 'yellow', 'green']

In [85]:
colors =['red', 'blue', 'green']
colors[1] = 'yellow'
colors

['red', 'yellow', 'green']

### **문제 9**

아래 조건에 맞게 리스트와 문자열을 활용하세요.

1. 리스트 `words`에 `'Life', 'is', 'too', 'short'`를 저장하세요.
2. 리스트의 요소를 공백으로 이어붙여 문자열 `'Life is too short'`를 출력하세요.

In [98]:
words = ['Life', 'is', 'too', 'short']

result = ' '.join(words)

print(result)

Life is too short

### **문제 10**

아래 조건에 맞는 프로그램을 작성하세요.

1. 리스트 `numbers`에 숫자 `1, 2, 3, 4, 5`를 저장하세요.
2. 슬라이싱을 이용하여 다음을 수행하세요:
    - 리스트의 **처음 3개의 요소**를 출력하세요.
    - 리스트의 **마지막 2개의 요소**를 출력하세요.
    - 리스트의 **모든 요소를 역순**으로 출력하세요.

In [102]:
numbers = [1, 2, 3, 4, 5]

print(numbers[:3])
print(numbers[3:])
print(numbers[-2:])
numbers.sort(reverse = True)
print(numbers[::-1])
print(numbers[0:5:2])
print(numbers)

[1, 2, 3]
[4, 5]
[4, 5]
[1, 2, 3, 4, 5]
[5, 3, 1]
[5, 4, 3, 2, 1]